.clients-list {
  display: flex;
}

.clients-card {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item + .clients-item {
  margin-left: 30px;
}

.clients-card:hover,
.clients-card:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  outline: none;
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: var(--icon-color);
  transition: var(--transition-icon);
}

.clients-card:hover .clients-icon,
.clients-card:focus .clients-icon {
  fill: var(--accent-color);
}
